.footer{
  background-color: $dark-green;
  color: $white;

  ul li{
    list-style-type: none;
    display: inline;
  }

  a{
    color: $white;
  }

  a:hover{
    text-decoration: none;
    color: $primary-color;
  }

  .social-media-icon{
    padding-top: 20px;
  }

  .user-link{
    margin-bottom: 10px;
    height: 1rem;
  }

  .user-link li{
    margin: 10px 20px;
    font-size: 12px;
  }

  @media screen and (max-width: 600px) {
    .user-link li{
      margin: 10px 10px;
      font-size: 12px;
    }
  }

  .normal-link{
    height: 1rem;
  }

  .normal-link li{
    margin: 10px 0px;
    border-right: 1px solid #fff;
    padding:0 10px;
    font-size: 10px;
  }
  .normal-link li:last-child {
    border-right: none;
  }

  .address{
    margin: 10px 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $white;
    font-size: 12px;
  }

  .copyright{
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
  }
}

