#payment-form{
  .radio{
    display:block;
    background-color: $dark-green;
    cursor:pointer;
    position: relative;




    label {
      width: 100%;
      height: 100%;
      display: block;
      color: white;

      .payment-header{
        font-size: 0.8rem;
        color: grey;
      }

      .payment-get{
        font-size: 1rem;
        color: white;
      }

      .payment-price{
        font-size: 4rem;
        margin: 20px 0;
      }

      .payment-credit{
        font-size: 1.8rem;
      }

      .payment-desc{
        font-siez: 0.8rem;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      .btn{
        background-color: white;
        color: $dark-green;
        margin-bottom: 10px;
      }
    }
  
    [type="radio"]:not(:checked) + label, [type="radio"]:checked + label{
      padding-left: 0;
    }
    [type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after{
      display: none;
    }
    [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after{
      display: none;
    }
    input[type="radio"]:checked + label {
      border: red 3px solid;
    }
    input[type="radio"]:not(:checked) + label {
      border: white 3px solid;
    }
  }
}