<%= render 'google_map_script' %>
<div class="page-header">
  <%= link_to new_listing_path, class: 'btn btn-primary','data-no-turbolink' => true do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Listing
  <% end %>
  <h1>Listing listings</h1>
</div>
<div class="row">
  <div class="col-md-6 hidden-xs fixed-map">
    <div style='width: 100%;'>
    <div id="map" style='width: 90%; height: 400px;'></div>
    </div>
  </div>
  <div class="col-md-6">
    <%= render 'item' %> 
  </div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>

