<!-- Geocomplete plugin -->
<script src="//cdn.jsdelivr.net/jquery.geocomplete/1.6.4/jquery.geocomplete.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<div class="page-header">
  <%= link_to listings_path, 'data-no-turbolink' => true, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New listing</h1>
</div>

<%= render 'form' %>
