@media only screen and (min-width: 1200px){
  .inline-block{
    .dropdown-content {
      top: 3rem!important;
    }
  }
}
@media only screen and (min-width: 0px) and (max-device-width: 1199px){
  .inline-block{
    .dropdown-content {
      top: 6rem!important;
    }
  }
}

.inline-block{
  display: inline-block;
  font-size: 12px;

  .total{
    padding: 0 5px;
  }

  .btn{
    background: $white;
  }

  .btn-floating i:hover{
    color: $white;
  }

  .btn-floating i {
    color: $dark-green;
  }

  .dropdown-content{
    margin: 0;
    display: none;
    min-width: 300px; /* Changed this to accomodate content width */
    max-height: auto;
    margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    left: 0!important;
    z-index: 1;
    will-change: width, height;
  }

  .twitter-typeahead .tt-query, .twitter-typeahead .tt-hint{
    border: none;
    color: $dark-green;
  }

  button{
    background-color: transparent;
    border: none;
    height: 3rem;
    top: 0.2rem;
  }

  .dropdown-button-listing{
    height: 2.5rem;
    font-size: 1rem;
    min-width: 10rem;
    color: $dark-green;
    margin: 0 0.5rem!important;
    margin-top: 0.2rem!important;
    border: 1px solid #9e9e9e;
    border-radius: 0.5rem;
    display: block;
    text-align: left;

    div{
      /*padding:10px;*/
      .text-left{
        position: absolute;
        left: 1rem;
      }
      .text-right{
        position: absolute;
        right: 1rem;
      
    }
    }

    
  }
}

.dark-green{
  background-color: $primary-color;
  
  h3, h5{
    color: white;
  }

  h4, h6{
    color: $light-green !important;
  }

  p{
    color: $cc;
  }
}
.listing{
  border-top: 1px solid #000;
  padding: 5px;
  margin-bottom: 0 !important;

  h3{
    margin-bottom: 0;
    margin-top: 0.82rem;
  }

  h4{
    font-size: 12px;
    margin-top: 5px;
    color: $grey;
  }

  h6{
    font-size: 12px;
    color: $grey;
  }

  img{
  margin: 5% 0;
  }
}

.listing:last-child{
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.page-header{
  display: block;
  margin: 15px 10px;

  .btn{
    margin: 10px 5px;
  }

  .btn:hover, .btn-large:hover{
    color: white;
  }

  .result{
    padding-top: 35px; 
  }
}

#listing-num{
  nav{
    background-color: inherit;
    box-shadow: none;
    color: black;
  }
  nav a{
    color: inherit;
  }
  nav span{
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    padding: 0 1.5rem;
  }
  .current{
      background-color: $dark-green;
    }
}