<div class="row">
  <div class="col s6">
    LoGO
  </div>
  <div class="col s6">
    Invoice No: <%= @credit.id %> <br>
    address company <br>
    stress <br>
    tel <br>
    sadfsa
  </div>
</div>

<div class="row table">
  <div class="col s2">
    <%= @credit.item.capitalize %>
  </div>
</div>