<div class="page-header">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show user</h1>
</div>
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s4"><a href="#payment">Payment</a></li>
      <li class="tab col s4"><a href="#payments">Payment History</a></li>
      <li class="tab col s4"><a href="#purchases">Purchase History</a></li>
    </ul>
  </div>
  <div id="payment" class="col s12">
    payment
  </div>
  <div id="payments" class="col s12">
      <%= render partial: 'payment__history', collection: @credits, as: :credit  %>
  </div>
  <div id="purchases" class="col s12">
    <%= render partial: 'purchase_history', collection: @user.user_credits, as: :purchase %>
  </div>
  
</div>