$primary-color: #31e1e3;
$dark-green: #29a3b9;
$light-grey: #f6f6f6;
$white: #fff;

.white-text{
  color: $white;
}

.dark-green-text{
  color: $dark-green;
}

.light-grey-background{
  background-color: $light-grey;
}

.big-text{
  font-size: 14px;
}
