$primary-color: #31e1e3;
$dark-green: #29a3b9;
$light-grey: #f6f6f6;
$white: #fff;


.dark-green-text{
  color: $dark-green;
}

.light-grey-background{
  background-color: $light-grey;
}

.big-text{
  font-size: 14px;
}

.hide-submit{
  border: 0px;
  background-color: transparent;
  margin-top: 11px;
}
