.first-body{
  margin-top:80px;
}

.circle-border{
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid $white;    
  text-align: center;
  margin-left: 10px;
  color: $white;
}

.circle-border.circle-border-lg {
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.5em;
}

.circle-border:hover{
  background-color: $white;
  color: $dark-green;
  }

.padding-zero{
  padding-left: 0 !important;
  padding-right: 0 !important;
}