<div class="col s12 l6 title">
  <div class="row">
    <div class="col s2">
      <i class="material-icons">insert_chart</i>
    </div>
    <div class="col s10 f18 text-left">
      <b>sdfdsf</b>
    </div>
    <div class="col s10 f14 text-left">
      sdfsdgvsd
    </div>
  </div>
  <div class="row">
    <div class="col s2">
      <i class="material-icons">insert_chart</i>
    </div>
    <div class="col s10 f18 text-left">
      <b>sdfdsf</b>
    </div>
    <div class="col s10 f14 text-left">
      sdfsdgvsd
    </div>
  </div>
  <div class="row">
    <div class="col s2">
      <i class="material-icons">insert_chart</i>
    </div>
    <div class="col s10 f18 text-left">
      <b>sdfdsf</b>
    </div>
    <div class="col s10 f14 text-left">
      sdfsdgvsd
    </div>
  </div>
</div>