
@import "material_icons";
@import "materialize/components/color";
@import "main";
@import "materialize";
@import "materialize/extras/nouislider";
@import "dropzone/basic";
@import "font-awesome";
 

body{
  text-align: center;
}

#toast-container .toast {
    cursor: pointer;
}
#toast-container span {
    -webkit-font-feature-settings: 'liga';
    color: #dd2c00;
    font-size: 1.5rem;
    font-weight: 300;
    float: right;
    padding-left: 3rem;
    word-break: keep-all;
}
