.user{
  h1{
    color: $dark-green;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid $grey;
    padding: 10px 10px;
  }
  img{
    width: 200px;
    height: 200px;
  }
}
.bottom{
    text-align: end;
  }
