<div id="modal1" class="modal  modal-fixed-footer">
  <form id="checkout" method="post" action="/credits/checkout">
    <div class="modal-content">
      <h4 class="modal-title">Topup Credit</h4>
      <div id="payment-form">
        <div class="row">
        <div class="col s12 l4">
          <input name="user_credit[amount]" id="user_creditcredit1" type="radio" class='with-gap' value='20'  />
          <label for="user_creditcredit1">RM20 30credits</label>
        </div>
        <div class="col s12 l4">
          <input name="user_credit[amount]" id="user_creditcredit2" type="radio" class='with-gap' value='50'  />
          <label for="user_creditcredit2">RM50 70credits</label>
        </div>
        <div class="col s12 l4">
          <input name="user_credit[amount]" id="user_creditcredit3" type="radio" class='with-gap' value='80'  />
          <label for="user_creditcredit3">RM80 90credits</label>
        </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class= "btn waves-effect waves-green btn-info" value="Pay">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>       
    </div>
  </form>
</div>



<div class="modal fade" id="topup" role="dialog">
    <div class="modal-dialog">     
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Topup Credit</h4>
        </div>
        <div class="modal-body">
          <form id="checkout" method="post" action="/credits/checkout">
          <div id="payment-form">
            <div class="field">
              <label for="user_creditcredit">Credit Purchase</label> <br>
              <input type= "number" name="user_credit[credits]"> 
            </div>        
          </div>
          <div class="modal-footer">
            <input type="submit" class= "btn btn-info" value="Pay">

            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>           
          </div>
          </form>
        </div>       
      </div>
    </div>
  </div>
  <script>
var clientToken = "<%= @braintree_token%>";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>
<script src="https://js.braintreegateway.com/js/braintree-2.23.0.min.js"></script>