<div class="card-panel grey lighten-5 z-depth-1">
  <div class="row">
    <div class="col s12">
      <%= image_tag current_user.image.url, class:'circle responsive-img margin-top1rem' %>
    </div>
    <div class="col s12">
      <span class="black-text">
        <%= render 'layouts/menu_block' %>
      </span>
    </div>
  </div>
</div>