<div class="card-panel grey lighten-5 z-depth-1">
  <div class="row">
    <div class="col s12">
      <%= image_tag current_user.image.url, class:'circle responsive-img margin-top1rem' %>
    </div>
    <div class="col s12">
      <span class="black-text">
        <%= link_to current_user.name, edit_user_path(current_user.id) %>
        <%= link_to credit_users_path do %>
          Credit: <%= current_user.credit %>
        <% end %>
      </span>
    </div>
  </div>
</div>